.wTerminal {
  height: calc(100% - 20px);
  width:100%;
  padding: 10px;
  
  overflow-x: hidden;

  background-color:rgba(56, 56, 56, 0.473);
  backdrop-filter: blur(10px);
  
  
  overflow-y: scroll;
  font-family: monospace;
  font-size:1rem;
  
}


.wTerminal p {
  color: white;
  margin:0 0;
}

.user-input {
  color:white;
  word-wrap:anywhere;
}